body {
    background-color: rgba(240, 240, 240, 0.884);
}

* {
    touch-action: manipulation;
}

.mainApp-enter {
    opacity: 0.01;
}

.mainApp-enter.mainApp-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.mainApp-leave {
    opacity: 1;
}

.mainApp-leave.mainApp-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.mainApp-appear {
    opacity: 0.01;
}

.mainApp-appear.mainApp-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(85, 85, 85, 0.164);
    box-shadow: 0 0 1px rgba(54, 52, 52, 0.5);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}